<!DOCTYPE html>
<html>
  <head>
      <title>UNCACourseFinder</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <div style='font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;'>
          <h1>About UNCA Course Finder</h1>
          <h2><a href="/">Home</a></h2>

          <h2>Directions</h2>
          <h4>My Schedule:</h4>
          <h5>To add classes to the "My Schedule" section simply click on the desired class from the "Course List" section. To remove classes from "My Schedule" click on the one you want to remove in the "My Schedule" section. Classes that have conflicting meeting times are colored red in the "My Schedule" section. They will also have a note at the end of the row showing what they conflict with. Your schedule is saved in a browser cookie so you will not lose your schedule if you refresh the page or restart the browser.</h5>

          <h4>Filtering the Course List:</h4>
          <h5>The "Course List" section can be filtered in two ways. The first is the search bar, simply type the characters you wish to search the list for. The search bar will search for an exact match of your input. It is also case-insensitive. The second filtering method is the "Filter by..." dropdown menu. The menu allows you to select either "Department" or "Instructor". Selecting either will cause another dropdown menu to appear which allows you to select the Department or Instructor you wish to filter by. The "Reset Filter" button will reset both the dropdown menus and the search bar, causing the "Course List" section to return to its default state.</h5>

          <p></p>
          <h4>Credits:</h4>
          <h5>UNCA Course Finder was created by Zachary Alleman for the UNCA Computer Science Senior Project. Contact: zalleman@unca.edu or zjalleman@gmail.com</h5>
          
          <h5>Background image by Thomson200 [<a href="http://creativecommons.org/publicdomain/zero/1.0/deed.en">CC0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AMt_Mitchell_from_from_Black_Mountains_Overlook%2C_October_2016.jpg">via Wikimedia Commons</a></h5>
      </div>
  </body>
</html>