<!DOCTYPE html>
<html>
  <head>
      <title>UNCACourseFinder</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <h1>Welcome to UNCA Course Finder</h1>
      <h2><a href="about.html">About UNCA Course Finder</a></h2>
      <h4>This application allows you to create a course schedule for the next semester.</h4>
      <h4>To add classes to the "My Schedule" section simply click on the desired class from the large table below. To remove classes, click on the one you want to remove in the "My Schedule" section. For more info on how to use this application click on the link above.</h4>
      <h4>This application may not work properly on mobile devices. Use a computer for best results.</h4>
  </body>
</html>