include home.html
main

    button(type='button', onclick="document.getElementById('showAll').style.display = 'block'")
        | Display All
    button(type='button', onclick="hideAll()")
        | Hide All

    select(id='filter', name='FilterDropDwn', onchange="showFilter(this.value)")
        option(selected='', value='') Filter by...
        option(value='filterDept') Department

    //p= main.length

    select(id='filterDept', name='deptDropDwn', onchange="filterByDept(this.value)")
        option(selected='') Select Department...
        each item in deptList
            option(value=item)= item 

    script.
        function filterByDept(value) {
            var list = "#{main}";
            var main = list.split(" ,");
            if (document.getElementById("dept") !== null) {
                document.body.removeChild(document.getElementById("dept"));
            }
            var deptTable = document.createElement("TABLE");
            deptTable.setAttribute("id", "dept");
            deptTable.appendChild(document.createElement("TR")).appendChild(document.createElement("TH")).innerHTML = "Showing Courses in " + value;
            document.body.appendChild(deptTable);
            
            var i;
            for (i = 0; i < main.length; i++) {
                var doc = document.getElementById("dept");
                var row = document.createElement("TR");
                var cell = document.createElement("TD");
                if (main[i].endsWith(" " + value) || main[i].endsWith(" " + value + " ")) {
                    doc.appendChild(row).appendChild(cell).innerHTML = main[i];
                }
            }
            document.getElementById("dept").style.display = 'block';
        }

    script.
        function showFilter(value) {
            if(value !== ''){
                document.getElementById(value).style.display = 'block';
            }
        }
    
    script.
        function hideAll() {
            var x = document.getElementsByTagName('table');
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = 'none';
            }
        }
    
    table#showAll
        tr
            th Full Course List
        each item in main
            tr
                td= item
    
    
    //table#dept
        tr
            th asdf





