include home.html
main

    button(type='button', onclick="document.getElementById('showAll').style.visibility = 'visible'")
        | Display All
    button(type='button', onclick="document.getElementsByTagName('table').style.visibility = 'hidden'")
        | Hide All

    select(id='dropDwn', name='Filter', onchange="document.getElementById('dropDwn').value")
        option(selected='') Filter by...
        option(value="document.getElementById('filterDept').style.visibility = 'visible'") Department

    
    table#showAll
        tr
            th Full Course List
        each item in main
            tr
                td= item
    
    
    table#filterDept
        tr
            th asdfasdf
        tr
            td hi





