include home.html
main

    button(type='button', onclick="document.getElementById('showAll').style.display = 'block'")
        | Display All
    button(type='button', onclick="hideAll()")
        | Hide All

    select(id='filter', name='FilterDropDwn', onchange="showFilter(this.value)")
        option(selected='', value='') Filter by...
        option(value='filterDept') Department

    script.
        function showFilter(value) {
            if(value !== '0'){
                document.getElementById(value).style.display = 'block';
            }
        }
    
    script.
        function hideAll() {
            var x = document.getElementsByTagName('table');
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = 'none';
            }
        }
    
    table#showAll
        tr
            th Full Course List
        each item in main
            tr
                td= item
    
    
    table#filterDept
        tr
            th asdf
                





