include home.html
main

    button(type='button', onclick="document.getElementById('showAll').style.visibility = 'visible'")
        | Display All
    button(type='button', onclick="document.getElementById('showAll').style.visibility = 'hidden'")
        | Hide All

    table#showAll
        tr
            th Full Course List
        each item in main
            tr
                td= item





