include home.html
main

    button(type='button', onclick="document.getElementById('showAll').style.visibility = 'visible'")
        | Display All
    button(type='button', onclick="document.getElementByTagName('table').style.visibility = 'hidden'")
        | Hide All

    select(name='Filter')
        option(disabled='', selected='') Filter by...
        option

    table#showAll
        tr
            th Full Course List
        each item in main
            tr
                td= item
    
    
    table#filterDept
        tr
            th 
                





