body {
    padding: 50px;
    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/images/Mt_Mitchell.jpg");
    background-attachment: fixed;
}

a {
    color: #0000FF;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    display: none;
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 5px;
}

th {
    background-color: #dddddd;
}

tr {
    background-color: #ffffff;
}

tr:hover {
    background-color: aqua;
}

#filterDept, #filterProf {
    display: none;
}

#mySched {
    border: 1px solid black;
    display: block;
    margin-bottom: 25px;
    height: 250px;
    overflow-x: auto;
    overflow-y: auto;
}

#sectionCL, #sectionMS {
    border: none;
    display: block;
    height: auto;
}

.conf {
    color: red;
}