body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/images/Mt_Mitchell.jpg");
    background-attachment: fixed;
    /*Background source*/
    /*By Thomson200 (Own work) [<a href="http://creativecommons.org/publicdomain/zero/1.0/deed.en">CC0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AMt_Mitchell_from_from_Black_Mountains_Overlook%2C_October_2016.jpg">via Wikimedia Commons</a>*/
}

a {
    color: #00B7FF;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: none;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 5px;
}

th {
    background-color: #dddddd;
}

tr {
    background-color: #ffffff;
}

tr:hover {
    background-color: aqua;
}

#filterDept, #filterProf {
    display: none;
}

#mySched {
    display: block;
    margin-bottom: 25px;
    height: 250px;
    overflow-x: auto;
    overflow-y: auto;
}

.conf {
    color: red;
}